{% extends 'base.html' %}

{% block main %}
{% load static %}
{% load thumbnail %}

<div id="slide-container" class="container">
<section class="mx-auto slider">
  {% for slide in slide_list %}

  <div>
    <div class="post">
      <div class="text-center py-3"  style="background-color: white;">
        <h4>
      	{% if slide.what_to_show == 'url' %}
          <a href="{{ slide.url }}" target="_blank">
	{% elif slide.what_to_show == 'flatpage' %}  {# no target=blank #}
          <a href="{{ slide.flatpage.url }}">
	{% elif slide.what_to_show == 'content' %} {# modal #}
          <a href="#slide{{ slide.pk }}" rel="modal:open">
	{% endif %}
	    {{ slide.title|safe }}
	  </a>
          </h4>
      </div>
      	{% if slide.what_to_show == 'url' %}
          <a href="{{ slide.url }}" target="_blank">
	{% elif slide.what_to_show == 'flatpage' %}  {# no target=blank #}
          <a href="{{ slide.flatpage.url }}">
	{% elif slide.what_to_show == 'content' %} {# modal #}
          <a href="#slide{{ slide.pk }}" rel="modal:open">
	{% endif %}
        {% thumbnail slide.featured_image "900x500" crop="center" as im %}<img class="img-fluid" src="{{ im.url }}" >{% endthumbnail %}
	  </a>
    </div>

    {% if slide.slidebanner_set.all %}
    <ul class="banner" style="z-index:5;">
      {% for banner in slide.slidebanner_set.all %}
      <li><a href="{% if banner.url %}{{ banner.url }}{% else %}#{% endif %}"><span>{{ banner.text|safe }}</span></a></li>
      {% endfor %}
    </ul>
    {% endif %}

  </div>
  {% endfor %}
</section>
</div>
<br>
<br>
<br>

{% if special_list %}

<div class="container" style="background-color: white; padding-top: 30px;">
  <section>
    <h3 class="text-center">CURRENT SPECIALS</h3>
    <div class="row">
      {% for special in special_list %}
      <div class="col-sm">
        <p><center><h5 style="margin-bottom: 0">{{ special.title|safe }}</h5>
            {% if special.subtitle %}<div>{{ special.subtitle }}</div>{% endif %}
        </center></p>
        {% thumbnail special.featured_image "900x500" crop="center" as im %}<img class="img-fluid" src="{{ im.url }}" >{% endthumbnail %}
        </h5>
      </div>
      {% if forloop.counter0|divisibleby:3 %}
    </div>
    <div class="row">
      {% endif %}
    {% endfor %}
    </div>
  </section>
</div>
{% endif %}

{% endblock %}


{% block box_below %}

{% for slide in slide_list %}
<div id="slide{{ slide.pk }}" class="modal">
  {{ slide.content|safe}}
</div>
{% endfor %}

{% endblock %}


{% block extrahead %}
<script>
$(document).ready(function(){
  $(".slider").slick({
{% if slide_list|length > 1 %}    dots: true,
{% endif %}    centerMode: true,
    fade: true,
    autoplay: true,
    autoplaySpeed: 3000
  });
});
</script>
{% endblock %}
