{% extends "bookings/base.html" %}


{% block title %}{{ homepage.title }} - {{ block.super }}{% endblock %}


{% block content %}

<div class="row">

  <div class="col-md-12">
    <p>
    {% if object.status == "Cancelled" %}
    <div class="btn btn-danger">
      Cancelled
    </div>
    {% else %}
    <div class="btn btn-success">
      Booked!
    </div>
    {% endif %}
    </p>

    <h2>Booking for <em>{{ object.name }}</em></h2>

    {% if user.is_authenticated %}
    <p><b><i><a href="{% url "admin:bookings_booking_change" object.pk %}">Administration Edit Booking</a></i></b></p>
    {% endif %}

    <b>Thank you, booking was successful.</b>
    <br>We've emailed you the details, but it's likely been marked as spam.<br><br>
{% if object.busy_night %}
<div class="btn btn-danger">
 Heavily booked on this day.
</div>
<br>
<br>
<div class="featured_text">
    It is possible that the booking you make through the
    automated booking system may occur at a time where
    we are already booked out.<br><br>
    This probably won't happen, but is technically possible (for example if someone else is making a booking for the same time <i>right now</i>)
    so we want to warn you about it.
    If this is the case we will contact you ASAP to discuss options.
</div>
<br>
{% endif %}

<p>
    <b>{{ object.party_size }} people<br>
        {{ object.reserved_time|time:"P" }} {{ object.reserved_date|date:"l" }}, {% if user.is_authenticated %}<a href="{% url 'bookings:booking_day' year=object.reserved_date.year month=object.reserved_date|date:"m" day=object.reserved_date|date:"d" %}">{% endif %}
        {{ object.reserved_date|date:"F j, Y" }}</a></b><br>
</p>

      {% if object.notes %}<p>Booking notes: "{{ object.notes }}"</p>{% endif %}

      {% if user.is_authenticated %}
        <a href="{% url "bookings:booking_update" code=object.code %}">
      {% endif %}
      <b>{{ object.name }}</b></a><br>
      {% if user.is_authenticated %}Booked by: <b>{{ object.booking_method }}</b></a><br>{% endif %}
      Contact phone: {{ object.phone }}<br>
      Contact email: {{ object.email }}<br>
    <em>{{object.status}}</em>


<br>
      {% if object.reserved_date|date:"D" == "Fri" or object.reserved_date|date:"D" == "Sat" %}
      {% if object.service == "main" %}
<br><br>
      <b>Friday/Saturday Night</b><br>
      <div>Your booking falls during our busiest time on Friday or Saturday night! This means that a few different rules apply as it's prone to get very busy.</div>
      <br>
      {% if object.party_size > 7 %}
      <div>Unless it's closing time, we'll try as best as we can to never disrupt your game BUT <b>important:</b> if you have quite a large group on a busy night <b>after 2 or 3 hours</b> we may ask you to move or reshuffle your table. We hope that you and your party can be understanding about this (please be sure to let them know),
as we want to give as many people as possible the opportunity to spend some time at Guild and we're always trying to make sure that the table space is shared around.
<br><br>In our experience after 2-or-so hours the size of the group may have changed and there often is quite a bit of table space going spare. This probably won't happen to you as we don't like to do it, but just letting you know that we may need to.
 </div>
      <br>
      {% endif %}
      <div>Guild is open 7 days for lunch and dinner so if you're interested in learning something special or a particularly long session by all means come on down on a different night when it'll be quieter and you can have your pick of table and service.
          {% endif %}
          {% endif %}

          {% if object.party_size > big_booking %}
          <blockquote class="featured_text">
              <p><b>Large Booking</b></p>
              <p>With {{ object.party_size }} people your booking is pretty big. Thank you for coming to Guild! We really hope you have a great time with us.</p>
              <p>We may contact you to confirm your booking and if it's particularly large or during a busy time you may need to provide us with a deposit. </p>
          </blockquote>
          {% endif %}

          <p class="featured_text">
                  <p><b>What happens now?</b></p>
      <div>You should receive a confirmation email. If you don't can't find this email check your spam messages or check that the email address you have provided is correct. If it's incorrect you'll need to contact us. <br><br>

        You can come back to this page any time to check your details and the link is included in the email.</div>
      <br>
      <div>If you're new to Guild or just curious checkout out our "<a href="/how-it-works/">how it works</a>" page.</div>
      <br>
      <div>
          If you would like to contact us, please feel free to for any reason at:
          <ul>
              <li>call us on 02 6257 2727</li> <i>or</i>
              <li>email <a href="mailto:hello@guild.house">hello@guild.house</a></li>
          </ul>
      </div>

      </div>
  </div>

  {% if user.is_authenticated %}
  <p><b><i><a href="{% url "admin:bookings_booking_change" object.pk %}">Administration Edit Booking</a></i></b></p>
  {% endif %}


{% endblock %}
